[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"

[packages]
fastapi = "*"
alembic = "*"
uvicorn = "*"
sqlalchemy = ">=1.4.0b1"
pydantic = "*"
psycopg2-binary = "*"
python-multipart = "*"
requests = "*"
python-dotenv = "*"
asyncpg = "*"

[requires]
python_version = "3.8"
