[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
black = "*"

[packages]
fastapi = "*"
alembic = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlmodel = "*"
python-dotenv = "*"
loguru = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
